.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(12, 73, 26);
}

#tit {
    color: rgb(0, 58, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#sub {
    color: rgb(0, 21, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}