#par1 {
    font-family: 'Courier New', Courier, monospace;
    color: #FA493B;
    font-style: italic;
}

#container {
    background-color: #19EC5A;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    width: 400px;
}