.tittab1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #8E5DE3;
}

#tab1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #FFB3A3;
}

#container1 {
    background-color: #DDE55E;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 310px;
}