.tit1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: #FA1940;

}

#container1 {
    background-color: #17FA4C;
    margin-left: auto;
    margin-right: auto;
    width: 802px;
    height: 400px;
}

.parr1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #FC553A;
}