#tit1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 40px;
    color: #B56AFA;
}

#tit2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #C183FA;
}

.inf1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: #C183FA;
}

.ant1{
    font-family: 'Courier New', Courier, monospace;
    color: #FA6D6B;
}

.des1{
    font-family:'Courier New', Courier, monospace;
    color: #6BFA96;
}

#container1{
    background-color: #F5FA6B;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 500px;
}